* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --title-font-size: 42px;
  --basic-font-size: 20px;
  --primary-background-color: lightseagreen;
}

body {
  height: 100vh;
}

/* all button style start */
.btn {
  outline: none;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--primary-background-color);
  font-size: var(--basic-font-size);
  color: white;
  font-weight: bold;
}
/* all button style end */

/* header section start */
header {
  display: flex;
  justify-content: space-between;
  padding: 45px 45px 0 45px;
  font-size: 24px;
}

.high-scores {
  color: blue;
}

.high-scores:hover {
  opacity: 0.7;
  cursor: default;
}
/* header section end */

/* main section start */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh auto 0 auto;
}

.quiz-intro {
  text-align: center;
}

.quiz-title {
  font-size: var(--title-font-size);
}

.quiz-instructions {
  font-size: var(--basic-font-size);
  margin: 20px auto;
  max-width: 600px;
}

.btn:hover {
  opacity: 0.8;
}
/* main section end */

/* questions start */
.question-container {
  text-align: center;
}

.question {
  font-size: var(--title-font-size);
  margin-bottom: 60px;
}

.answer-btn {
  width: 40%;
  margin: 20px;
}
/* questions end */

/* score form start */
.score-form-title {
  font-size: var(--title-font-size);
}

.score-form-instructions {
  font-size: var(--basic-font-size);
  margin: 20px auto;
}

.submit-form input {
  height: 41px;
  font-size: var(--basic-font-size);
  margin-right: 5px;
}

.score-submit-btn {
  border-radius: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: normal;
}
/* score form end */

/* high score screen start */
.high-scores-title {
  font-size: var(--title-font-size);
  text-decoration: underline;
}

.high-score {
  font-size: var(--basic-font-size);
  margin: 10px auto;
}

.high-score-btn {
  width: 200px;
  margin: 10px;
}
/* high score screen end */
